
.container {
  max-width: 500px;
  margin: 32px auto;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.post {
  border: 1px solid var(--neutral);
  border-radius: 6px;
  padding: 8px;
}
.post:hover {
  border-color: var(--accent);
  outline: 1px solid var(--accent);
  background: var(--base-300);
  color: var(--neutral);
}

