.title {
  margin: 0;
}

.ageWarning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  padding: 8px;
  margin: 16px 0;
  display: flex;
  gap: 8px;
  border-radius: 8px;
}

.icon {
  font-size: 2em;
}

.ageWarningMessage {
  font-size: 1em;
  margin: 0;
}

.content {
  padding-bottom: 64px;
}
