.container {
  background: linear-gradient(
    var(--base-100) 30%,
    var(--base-300)
  );
}

.perspectiveContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 2000px;
  width: 98vw;
  max-width: 500px;
  height: 300px;
}

.zeroWidth {
  width: 0!important;
  overflow: hidden;
  box-sizing: border-box;
}

.linkButton {
  background: none;
  border: none;
  color: var(--base-content);
  cursor: pointer;
}

.hamburgerButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.linkButton:hover {
  color: var(--accent)
}

.box {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 32px 0;
  background: var(--base-200);
  border: 2px double var(--secondary);

  transition: transform calc(var(--const-transition-speed, 500) * 1ms) ease-in-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.cardContent {
  flex: 1 0 auto;
}

.cardFooter {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.links{
  font-size: 1.5em;
}

.profilePic {
  border-radius: 50px;
  width: 72px;
  margin: 0 0 16px;
}

.linksContent {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about {
  padding: 32px 8px;
  position: relative;
}

.aboutContent {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.aboutName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.aboutName h1 {
  line-height: 32px;
  margin-bottom: 0;
  font-size: 1.5em;
}

.aboutName h3 {
  margin-top: 0;
  font-size: 1.1em;
}

.aboutLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 40px;
}

.aboutLinks p {
  word-break: break-word;
  margin-top: 20px;
  font-size: 1em;
}

.aboutLinks p a {
  white-space: nowrap;
}

.aboutFooter {
  display: flex;
  justify-content: space-between;
  margin: auto 12px 0;
}

.aboutFooter a {
  border: none;
  font-size: 20px;
}

.separator {
  height: 100%;
  background: var(--base-content);
  width: 0.5px;
  margin: 0 8px;
}

.showAbout {
  .about {
    transform: rotateY(0deg);
    pointer-events: auto;
  }
  .links {
    transform: rotateY(-180deg);
    pointer-events: none;
  }
}

.showLinks {
  .links {
    transform: rotateY(0deg);
    pointer-events: auto;
  }
  .about {
    transform: rotateY(180deg);
    pointer-events: none;
  }
}
