@import "./shiki.css";

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand.ttf') format('ttf');
  font-weight: 100 900;
}

:root {
  --primary: light-dark(var(--light-primary), var(--dark-primary));
  --secondary: light-dark(var(--light-secondary), var(--dark-secondary));
  --accent: light-dark(var(--light-accent), var(--dark-accent));
  --neutral: light-dark(var(--light-neutral), var(--dark-neutral));
  --base-100: light-dark(var(--light-base-100), var(--dark-base-100));
  --base-200: light-dark(var(--light-base-200), var(--dark-base-200));
  --base-300: light-dark(var(--light-base-300), var(--dark-base-300));
  --base-content: light-dark(var(--light-base-content), var(--dark-base-content));

  --color: light-dark(var(--light-neutral), var(--dark-neutral));
  --background: light-dark(var(--light-base-100), var(--dark-base-100));

  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  margin: 0;

  color: var(--color);
  background: var(--background);
}

h1 {
  color: light-dark(var(--light-primary), var(--dark-primary));
}

h3 {
  color: light-dark(var(--light-secondary), var(--dark-secondary));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  padding: 2px 8px;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: 'Quicksand', system-ui, sans-serif;
}

a {
  color: light-dark(var(--light-base-content), var(--dark-base-content));
  text-decoration: none;
}

a:hover {
  color: light-dark(var(--light-accent), var(--dark-accent));
  border-color: light-dark(var(--light-accent), var(--dark-accent));
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
