.page {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;
}

.selectedImage {
  width: 100%;
  display: flex;
  place-content: center;
  padding: 16px 0 32px;
}

.selectedImage > img {
  max-height: calc(100vh - 250px);
  filter: drop-shadow(0px 0px 10px);
}

.gallery {
  height: 100px;
  max-width: 100%;
  display: flex;
  gap: 8px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  padding: 24px 0;
  box-sizing: content-box;
}
.gallery > a {
  flex: 0 0 100px;
}

