.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, max-content));
  grid-gap: 16px;
  justify-content: center;
  padding-bottom: 48px;
}

.img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 640px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 8px;
    padding-bottom: 24px;
  }
}
