.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.toolbar {
  position: absolute;
  top: 4px;
  left: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolbar * {
  margin: 0;
}
.toolbar button {
  background: none;
  color: var(--neutral);
}
.toolbar span {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}

.grid {
  flex-grow: 1;
  position: relative;
  display: grid;
  gap: 1px;
  place-items: stretch;
  align-content: end;
  justify-content: center;
  grid-template-rows: repeat(var(--minesweeper-rows), var(--minesweeper-cellSize));
  grid-template-columns: repeat(var(--minesweeper-columns), var(--minesweeper-cellSize));
}

.row {
  display: flex;
}

.cell {
  user-select: none;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0.5px solid var(--base-300);
}

.cell button {
  border-radius: 4px;
}

.cell svg {
  width: 75%;
  height: 75%;
}

.successMessage {
  padding: 16px 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  animation-duration: 1s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
}
.successMessage h1 {
  color: var(--primary);
  text-align: center;
  filter: drop-shadow(6px 4px 1px light-dark(var(--accent), var(--secondary)));
  font-size: 10em;
  margin: 0;
  line-height: 1;
}

.successMessage h2 {
  text-align: center;
  color: var(--secondary);
}

@keyframes slide-in {
  from {
    transform: translate(-50%, -250%);
  }

  to {
    transform: translate(-50%, -50%);
  }
}

.button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px outset light-dark(var(--light-neutral), var(--dark-neutral));
  border-radius: 0;
}

.button[disabled] {
  cursor: default;
  color: var(--accent);
  border: 1px outset light-dark(var(--light-neutral), var(--dark-neutral));
  background-color: buttonface;
  border-radius: 0;
}

.exploded {
  color: red;
}
