:root {
  --dark-base-100: '#1d232a', --light-base-100: '#faf7f5',
    --background: light-dark(var(--light-base-100), var(--dark-base-100));
  --color: light-dark(var(--light-neutral), var(--dark-neutral));

  color-scheme: light dark;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  color: var(--color);
  background: var(--background);
}

h1 {
  color: light-dark(var(--light-primary), var(--dark-primary));
}

h3 {
  color: light-dark(var(--light-secondary), var(--dark-secondary));
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: var(--font-quicksand);
}

a {
  color: light-dark(var(--light-base-content), var(--dark-base-content));
  text-decoration: none;
  border-bottom: 0.5px solid
    light-dark(var(--light-neutral), var(--dark-neutral));
}

a:hover {
  color: light-dark(var(--light-accent), var(--dark-accent));
  border-color: light-dark(var(--light-accent), var(--dark-accent));
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
