.container {
  height: calc(100vh - 72px);
  width: 80vw;
  max-width: 800px;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.home {
  font-size: 21px;
}
